<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.footer_title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <ul class="contact-list">

          {% if site.email %}
          <li>
            <span class="icon contact">{% include icon-mail.svg %}</span>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% endif %}
          
          <li>
            <span class="icon contact">{% include icon-location.svg %}</span>
            St.Petersburg, 29 Polytechnicheskaya st.
          </li>
          
          
          <li>
            <span class="icon contact">{% include icon-phone.svg %}</span>
            +7 (812) 552-73-33
          </li>
          
        </ul>
      </div>



  </div>

</footer>
